# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Canonical Ltd.
# Copyright 2024 Intel Corporation

name: CI Pipeline

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  clang-format:
    permissions:
      contents: read
      actions: read
      id-token: write
      attestations: write
    strategy:
      matrix:
        path:
          - check: 'core'
            exclude: '(kmod)' # Exclude "kmod" dir because of different format
          - check: 'protobuf'
            exclude: ''       # Nothing to exclude
          - check: 'sample_plugin/modules'
            exclude: ''       # Nothing to exclude
          - check: 'sample_plugin/protobuf'
            exclude: ''       # Nothing to exclude
    uses: omec-project/.github/.github/workflows/check-clang-format.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    with:
      branch_name: ${{ github.ref }}
      clang_format_version: '14'
      check_path: ${{ matrix.path['check'] }}
      exclude_regex: ${{ matrix.path['exclude'] }}

  check-spelling:
    permissions:
      contents: read
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/check-spelling.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    with:
      branch_name: ${{ github.ref }}

  hadolint:
    permissions:
      contents: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/hadolint.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    with:
      branch_name: ${{ github.ref }}
      dockerfile: env/Dockerfile

  license-check:
    permissions:
      contents: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/license-check.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    with:
      branch_name: ${{ github.ref }}

  fossa-scan:
    permissions:
      contents: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/fossa-scan.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    with:
      branch_name: ${{ github.ref }}

  analysis:
    if: github.repository_owner == 'omec-project'
    permissions:
      actions: read
      artifact-metadata: read
      attestations: read
      checks: read
      contents: read
      deployments: read
      discussions: read
      id-token: write
      issues: read
      models: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      security-events: write
      statuses: read
    uses: omec-project/.github/.github/workflows/scorecard-analysis.yml@d2c362a98ad0cb4911ea762e25109f71f2301d9e # v0.0.12
    with:
      branch_name: ${{ github.ref }}
