# SPDX-License-Identifier: Apache-2.0
# Copyright 2022-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    uses: omec-project/.github/.github/workflows/bess-build-test.yml@23e0adf45c41d1564468697ae12bae734510e388 # v0.0.4
    with:
      branch_name: ${{ github.ref }}
