# SPDX-License-Identifier: Apache-2.0
# Copyright 2022-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    uses: omec-project/.github/.github/workflows/bess-build-test.yml@76c248f1621bfe102956c558ea8cecfe5df143bf # v0.0.3
    with:
      branch_name: ${{ github.ref }}
