# SPDX-License-Identifier: Apache-2.0
# Copyright 2022-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    uses: omec-project/.github/.github/workflows/bess-build-test.yml@36aa0b99a066462a75991f9a9f518254ae002465 # v0.0.9
    with:
      branch_name: ${{ github.ref }}
