# SPDX-License-Identifier: Apache-2.0
# Copyright 2024-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
name: Release Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  bess-release-image:
    permissions:
      contents: read
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/bess-release-image.yml@1e62855922cacee05c51f0fc7245fc9e1e7b38a6 # v0.0.8
    secrets: inherit
