# SPDX-License-Identifier: Apache-2.0
# Copyright 2024-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
name: Release Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  bess-release-image:
    permissions:
      contents: read
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/bess-release-image.yml@23e0adf45c41d1564468697ae12bae734510e388 # v0.0.4
    secrets: inherit
