# SPDX-License-Identifier: Apache-2.0
# Copyright 2024-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
name: Release Pipeline

on:
  push:
    branches:
      - main
    paths:
      - "env/Dockerfile"
      - "env/*.yml"
      - "env/requirements*.txt"

permissions:
  contents: read

jobs:
  bess-release-image:
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/bess-release-image.yml@8dfff47ca98efd751c939d94b9c207be27f99492 # v0.0.11
    secrets: inherit
