# SPDX-License-Identifier: Apache-2.0
# Copyright 2024-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
name: Release Pipeline

on:
  push:
    branches:
      - main
    paths:
      - "env/Dockerfile"
      - "env/*.yml"
      - "env/requirements*.txt"

permissions:
  contents: read

jobs:
  bess-release-image:
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/bess-release-image.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    secrets: inherit

  sbom-source:
    needs: tag-github
    permissions:
      contents: read
      actions: read
    uses: omec-project/.github/.github/workflows/sbom-source.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      branch_name: ${{ github.ref }}
      artifact_name: ${{ github.event.repository.name }}-${{ needs.tag-github.outputs.version }}.spdx.json
      sbom_format: spdx-json
      path: .

  grype-scan:
    needs: [tag-github, sbom-source]
    permissions:
      contents: read
      actions: read
      security-events: write # Required for SARIF upload to Code Scanning
    uses: omec-project/.github/.github/workflows/grype-scan.yml@40ff5b9cd1d59e64caae6f30ed9ccbece3951ea6 # v0.0.17
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      artifact_name: ${{ github.event.repository.name }}-${{ needs.tag-github.outputs.version }}.spdx.json
