# SPDX-License-Identifier: Apache-2.0
# Copyright 2024-Present Intel Corporation
# Copyright 2025 Canonical Ltd.
name: Release Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  bess-release-image:
    permissions:
      contents: read
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/bess-release-image.yml@36aa0b99a066462a75991f9a9f518254ae002465 # v0.0.9
    secrets: inherit
